#
# https://phpstan.org/config-reference
#
includes:
	- phpstan-baseline.neon
	- phpstan-objekty.neon
parameters:
	level: 5
	excludePaths:
		- app/Core/shared/voip.class.php
		- app/Core/shared/ros_api_qos.php
		- app/Core/shared/ros_api_restriction.php
	ignoreErrors:
	# temporary known issues
	-
		message: "#^Method App\\\\Core\\\\Topology\\\\RouterAction\\:\\:checkFormData\\(\\) is unused\\.$#"
		path: app/Core/Topology/routerAction.class.php
	# common known issues
	-
		message: '#Undefined variable: \$.*#'
		path: *
	-
		message: "#^Variable \\$.* might not be defined\\.$#"
		path: *
	-
		message: "#^Function mysql_.* not found\\.$#"
		path: include/main.function.shared.php
	-
		message: "#^Call to an undefined static method App\\\\Models\\\\.*$#"
		path: app/*
	-
		message: "#^Parameter \\#1 \\$app of class Illuminate\\\\Cache\\\\CacheManager constructor expects Illuminate\\\\Contracts\\\\Foundation\\\\Application, Illuminate\\\\Container\\\\Container given\\.$#"
		count: 1
		path: boostrap/containerAfter.php
	# auth stuff
	-
		message: "#^Access to an undefined property Cartalyst\\\\Sentinel\\\\Users\\\\UserInterface\\:\\:\\$email\\.$#"
		count: 2
		path: app/Controllers/Auth/AuthController.php
	-
		message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
		count: 2
		path: app/Auth/Password.php

	-
		message: "#^Constructor of class App\\\\Controllers\\\\Auth\\\\PasswordController has an unused parameter \\$flash\\.$#"
		count: 1
		path: app/Controllers/Auth/PasswordController.php
	# session stuff
	-
		message: "#^Call to an undefined method Odan\\\\Session\\\\SessionInterface.*$#"
		path: app/Middleware/SessionMiddleware.php

	# adminator2 dont have DI container with sentinel
	-
		message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
		count: 1
		path: app/Core/shared/partner.servis.class.php
	-
		message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:guest\\(\\)\\.$#"
		count: 1
		path: include/main.function.shared.php