#
# https://phpstan.org/config-reference
#
includes:
	- phpstan-baseline.neon
	- phpstan-objekty.neon
parameters:
	level: 5
	excludePaths:
		- app/Core/shared/voip.class.php
		- app/Core/shared/ros_api_qos.php
		- app/Core/shared/ros_api_restriction.php
	ignoreErrors:
    # for phpunit
	-
		message: "#^Variable \\$.* in (empty|isset)\\(\\) is never defined\\.$#"
		path: app/Core/Item/*
	-
		message: "#^Variable \\$.* in (empty|isset)\\(\\) is never defined\\.$#"
		path: app/Controllers/Core/*
	# common known issues
	-
		message: '#Undefined variable: \$.*#'
		path: *
	-
		message: "#^Variable \\$.* might not be defined\\.$#"
		path: *
	-
		message: "#^Variable .* in isset\\(\\) always exists and is not nullable\\.$#"
		path: app/Core/Print/inc.smlouva.*
	-
		message: "#^Variable .* in isset\\(\\) always exists and is not nullable\\.$#"
		path: app/Core/Print/inc.reg.form.input.*
	-
		message: "#^Function mysql_.* not found\\.$#"
		path: include/main.function.shared.php
	-
		message: "#^Call to an undefined static method App\\\\Models\\\\.*$#"
		path: app/*

	# auth stuff
	-
		message: "#^Access to an undefined property Cartalyst\\\\Sentinel\\\\Users\\\\UserInterface\\:\\:\\$email\\.$#"
		count: 2
		path: app/Controllers/Auth/AuthController.php
	-
		message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
		count: 2
		path: app/Auth/Password.php

	-
		message: "#^Constructor of class App\\\\Controllers\\\\Auth\\\\PasswordController has an unused parameter \\$flash\\.$#"
		count: 1
		path: app/Controllers/Auth/PasswordController.php
	# session stuff
	-
		message: "#^Call to an undefined method Odan\\\\Session\\\\SessionInterface.*$#"
		path: app/Middleware/SessionMiddleware.php

	# adminator2 dont have DI container with sentinel
	-
		message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:guest\\(\\)\\.$#"
		count: 1
		path: include/main.function.shared.php
