#
# https://phpstan.org/config-reference
#
includes:
	- phpstan-baseline.neon
	- phpstan-objekty.neon
parameters:
	level: 5
	excludePaths:
		- app/Core/shared/voip.class.php
		- app/Core/shared/ros_api_qos.php
		- app/Core/shared/ros_api_restriction.php
	ignoreErrors:
    # for phpunit
	-
		message: "#^Variable \\$.* in (empty|isset)\\(\\) is never defined\\.$#"
		path: app/Core/Item/*
	-
		message: "#^Variable \\$.* in (empty|isset)\\(\\) is never defined\\.$#"
		path: app/Controllers/Core/*
	# for cli/queue
	-
		message: "#^Dead catch - Throwable is never thrown in the try block\\.$#"
		path: include/main.function.shared.php
	# common known issues
	-
		message: '#Undefined variable: \$.*#'
		path: *
	-
		message: "#^Variable \\$.* might not be defined\\.$#"
		path: *
	-
		message: "#^Variable .* in isset\\(\\) always exists and is not nullable\\.$#"
		path: app/Core/Print/inc.smlouva.*
	-
		message: "#^Variable .* in isset\\(\\) always exists and is not nullable\\.$#"
		path: app/Core/Print/inc.reg.form.input.*
	-
		message: "#^Function mysql_.* not found\\.$#"
		path: include/main.function.shared.php
	-
		message: "#^Call to an undefined static method App\\\\Models\\\\.*$#"
		path: app/*
	-
		message: "#^Parameter \\#1 \\$app of class Illuminate\\\\Cache\\\\CacheManager constructor expects Illuminate\\\\Contracts\\\\Foundation\\\\Application, Illuminate\\\\Container\\\\Container given\\.$#"
		count: 1
		path: boostrap/containerAfter.php
	# redis
	-
		message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Redis.*$#"
		path: app/Core/work.php
	-
		message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Redis.*$#"
		path: boostrap/containerAfter.php
	-
		message: "#^Parameter \\#1 \\$app of static method Illuminate\\\\Support\\\\Facades\\\\Facade\\:\\:setFacadeApplication\\(\\) expects Illuminate\\\\Contracts\\\\Foundation\\\\Application\\|null, Illuminate\\\\Container\\\\Container given\\.$#"
		count: 1
		path: boostrap/containerAfter.php
	-
		message: "#^Parameter \\#1 \\$app of class Illuminate\\\\Redis\\\\RedisManager constructor expects Illuminate\\\\Contracts\\\\Foundation\\\\Application, Illuminate\\\\Container\\\\Container given\\.$#"
		count: 1
		path: boostrap/containerAfter.php
	# auth stuff
	-
		message: "#^Access to an undefined property Cartalyst\\\\Sentinel\\\\Users\\\\UserInterface\\:\\:\\$email\\.$#"
		count: 2
		path: app/Controllers/Auth/AuthController.php
	-
		message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
		count: 2
		path: app/Auth/Password.php

	-
		message: "#^Constructor of class App\\\\Controllers\\\\Auth\\\\PasswordController has an unused parameter \\$flash\\.$#"
		count: 1
		path: app/Controllers/Auth/PasswordController.php
	# session stuff
	-
		message: "#^Call to an undefined method Odan\\\\Session\\\\SessionInterface.*$#"
		path: app/Middleware/SessionMiddleware.php

	# adminator2 dont have DI container with sentinel
	-
		message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:guest\\(\\)\\.$#"
		count: 1
		path: include/main.function.shared.php
	# AsynqClient
	-
		message: "#^Method HyssaDev\\\\HibikenAsynqClient\\\\Rdb\\:\\:UniqueKey\\(\\) invoked with 4 parameters, 3 required\\.$#"
		count: 1
		path: app/AsynqClient/Client.php
	-	
		message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Redis.*\\.$#"
		path: app/AsynqClient/Rdb.php
	-	
		message: "#^Binary operation \"\\+\" between string and string results in an error\\.$#"
		path: app/AsynqClient/Rdb.php
	-	
		message: "#^Parameter \\#2 \\$num2 of function bcmul expects string, float given\\.$#"
		path: app/AsynqClient/Rdb.php
