parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method App\\\\Models\\\\User\\:\\:where\\(\\)\\.$#"
			count: 1
			path: app/Auth/Password.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 2
			path: app/Auth/Password.php

		-
			message: "#^Property App\\\\Auth\\\\passwordHelper\\:\\:\\$container is never read, only written\\.$#"
			count: 1
			path: app/Auth/Password.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: app/Auth/serviceHelper.php

		-
			message: "#^Property auth_service\\:\\:\\$container is never read, only written\\.$#"
			count: 1
			path: app/Auth/serviceHelper.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:authenticate\\(\\)\\.$#"
			count: 1
			path: app/Controllers/Auth/AuthController.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 2
			path: app/Controllers/Auth/AuthController.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:guest\\(\\)\\.$#"
			count: 1
			path: app/Controllers/Auth/AuthController.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:logout\\(\\)\\.$#"
			count: 1
			path: app/Controllers/Auth/AuthController.php

		-
			message: "#^Offset 'persist' on array\\{email\\: mixed, password\\: mixed\\} in isset\\(\\) does not exist\\.$#"
			count: 1
			path: app/Controllers/Auth/AuthController.php

		-
			message: "#^Constructor of class App\\\\Controllers\\\\Auth\\\\PasswordController has an unused parameter \\$flash\\.$#"
			count: 1
			path: app/Controllers/Auth/PasswordController.php

		-
			message: "#^Access to an undefined property App\\\\Controllers\\\\aboutController\\:\\:\\$adminator\\.$#"
			count: 7
			path: app/Controllers/aboutController.php

		-
			message: "#^Call to an undefined method Psr\\\\Http\\\\Message\\\\ResponseInterface\\:\\:withJson\\(\\)\\.$#"
			count: 1
			path: app/Controllers/adminatorController.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: app/Controllers/adminatorController.php

		-
			message: "#^Function ereg not found\\.$#"
			count: 1
			path: app/Controllers/archivZmenController.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: app/Controllers/archivZmenController.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: app/Controllers/archivZmenController.php

		-
			message: "#^Variable \\$updated in isset\\(\\) is never defined\\.$#"
			count: 1
			path: app/Controllers/archivZmenController.php

		-
			message: "#^Access to an undefined property App\\\\Controllers\\\\othersController\\:\\:\\$adminator\\.$#"
			count: 5
			path: app/Controllers/othersController.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: app/Controllers/othersController.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Controllers/othersController.php

		-
			message: "#^Access to an undefined property App\\\\Controllers\\\\platbyController\\:\\:\\$adminator\\.$#"
			count: 7
			path: app/Controllers/platbyController.php

		-
			message: "#^Access to an undefined property App\\\\Controllers\\\\topologyController\\:\\:\\$adminator\\.$#"
			count: 5
			path: app/Controllers/topologyController.php

		-
			message: "#^Access to an undefined property App\\\\Controllers\\\\workController\\:\\:\\$adminator\\.$#"
			count: 3
			path: app/Controllers/workController.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\PageLevel\\:\\:find\\(\\)\\.$#"
			count: 1
			path: app/Core/Adminator/Adminator.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\User\\:\\:where\\(\\)\\.$#"
			count: 1
			path: app/Core/Adminator/Adminator.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\ArchivZmen\\:\\:create\\(\\)\\.$#"
			count: 2
			path: app/Core/ArchivZmen.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Core/ArchivZmen.php

		-
			message: "#^Property App\\\\Core\\\\ArchivZmen\\:\\:\\$conn_pgsql is never read, only written\\.$#"
			count: 1
			path: app/Core/ArchivZmen.php

		-
			message: "#^Variable \\$pocet in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: app/Core/ArchivZmen.php

		-
			message: "#^Variable \\$typ in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: app/Core/ArchivZmen.php

		-
			message: "#^Access to an undefined property zmeny_ucetni\\:\\:\\$logger\\.$#"
			count: 3
			path: app/Core/ArchivZmenUcetni.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: app/Core/ArchivZmenUcetni.php

		-
			message: "#^Constructor of class zmeny_ucetni has an unused parameter \\$auth\\.$#"
			count: 1
			path: app/Core/ArchivZmenUcetni.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\FakturacniSkupina\\:\\:get\\(\\)\\.$#"
			count: 1
			path: app/Core/Customer/fakturacniSkupiny.class.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: app/Core/Customer/fakturacniSkupiny.class.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: app/Core/Customer/fakturacniSkupiny.class.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: app/Core/Customer/fakturacniSkupiny.class.php

		-
			message: "#^If condition is always true\\.$#"
			count: 3
			path: app/Core/Customer/fakturacniSkupiny.class.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 2
			path: app/Core/Customer/fakturacniSkupiny.class.php

		-
			message: "#^Variable \\$writed in isset\\(\\) is never defined\\.$#"
			count: 1
			path: app/Core/Customer/fakturacniSkupiny.class.php

		-
			message: "#^Access to an undefined property vlastnik2\\:\\:\\$listFindId\\.$#"
			count: 2
			path: app/Core/Customer/vlastnik2.class.php

		-
			message: "#^Comparison operation \"\\>\" between 13\\|16\\|19\\|21 and 1 is always true\\.$#"
			count: 1
			path: app/Core/Customer/vlastnik2.class.php

		-
			message: "#^Access to an undefined property App\\\\Core\\\\objekt\\:\\:\\$container\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Access to an undefined property App\\\\Core\\\\objekt\\:\\:\\$validator\\.$#"
			count: 1
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Access to an undefined property objekt_a2\\:\\:\\$listAllowedActionGarant\\.$#"
			count: 1
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Binary operation \"\\+\" between string and '0' results in an error\\.$#"
			count: 3
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Binary operation \"\\+\" between string and '1' results in an error\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Binary operation \"\\+\" between string and '128' results in an error\\.$#"
			count: 4
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Binary operation \"\\+\" between string and '2' results in an error\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Binary operation \"\\+\" between string and '3' results in an error\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Binary operation \"\\+\" between string and 2 results in an error\\.$#"
			count: 1
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Elseif condition is always true\\.$#"
			count: 1
			path: app/Core/Item/objekt.class.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^If condition is always true\\.$#"
			count: 4
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 4
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Regex pattern is invalid\\: Unknown modifier '\\)' in pattern\\: /\\^\\(\\[\\[\\:digit\\:\\]\\]\\|\\\\\\.\\|/\\)\\+\\$/$#"
			count: 1
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 4
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Variable \\$find_tarif in isset\\(\\) is never defined\\.$#"
			count: 1
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Variable \\$writed in isset\\(\\) is never defined\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Function mysql_fetch_array not found\\.$#"
			count: 1
			path: app/Core/Item/objektypridani.class.php

		-
			message: "#^Function mysql_num_rows not found\\.$#"
			count: 1
			path: app/Core/Item/objektypridani.class.php

		-
			message: "#^Function mysql_query not found\\.$#"
			count: 1
			path: app/Core/Item/objektypridani.class.php

		-
			message: "#^Function split not found\\.$#"
			count: 2
			path: app/Core/Item/objektypridani.class.php

		-
			message: "#^Access to an undefined property App\\\\Core\\\\stb\\:\\:\\$validator\\.$#"
			count: 2
			path: app/Core/Item/stb.class.php

		-
			message: "#^Binary operation \"\\+\" between string and 2 results in an error\\.$#"
			count: 1
			path: app/Core/Item/stb.class.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\Stb\\:\\:where\\(\\)\\.$#"
			count: 1
			path: app/Core/Item/stb.class.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: app/Core/Item/stb.class.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: app/Core/Item/stb.class.php

		-
			message: "#^Parameter \\#1 \\$string of function htmlspecialchars expects string, int given\\.$#"
			count: 1
			path: app/Core/Item/stb.class.php

		-
			message: "#^Parameter \\#1 \\$string of function urlencode expects string, int given\\.$#"
			count: 4
			path: app/Core/Item/stb.class.php

		-
			message: "#^Deprecated in PHP 8\\.0\\: Required parameter \\$conAfter follows optional parameter \\$conList\\.$#"
			count: 1
			path: app/Core/PagingGlobal.php

		-
			message: "#^Deprecated in PHP 8\\.0\\: Required parameter \\$conBefore follows optional parameter \\$conList\\.$#"
			count: 1
			path: app/Core/PagingGlobal.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\PartnerOrder\\:\\:create\\(\\)\\.$#"
			count: 1
			path: app/Core/Partner/partner.class.php

		-
			message: "#^Call to an undefined static method App\\\\Models\\\\PartnerOrder\\:\\:get\\(\\)\\.$#"
			count: 1
			path: app/Core/Partner/partner.class.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: app/Core/Partner/partner.class.php

		-
			message: "#^Property App\\\\Partner\\\\partner\\:\\:\\$container is never read, only written\\.$#"
			count: 1
			path: app/Core/Partner/partner.class.php

		-
			message: "#^Property App\\\\Partner\\\\partner\\:\\:\\$form_error is never written, only read\\.$#"
			count: 1
			path: app/Core/Partner/partner.class.php

		-
			message: "#^Property App\\\\Partner\\\\partner\\:\\:\\$validator is never read, only written\\.$#"
			count: 1
			path: app/Core/Partner/partner.class.php

		-
			message: "#^Cannot access property \\$error on array\\|float\\|int\\|string\\|false\\.$#"
			count: 1
			path: app/Core/Topology.php

		-
			message: "#^Parameter \\#1 \\$string of function htmlspecialchars expects string, int given\\.$#"
			count: 1
			path: app/Core/Topology.php

		-
			message: "#^Parameter \\#1 \\$string of function urlencode expects string, int given\\.$#"
			count: 5
			path: app/Core/Topology.php

		-
			message: "#^Variable \\$sql_filter_nod in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: app/Core/Topology.php

		-
			message: "#^Property admin\\:\\:\\$conn_pgsql is never read, only written\\.$#"
			count: 1
			path: app/Core/admin.php

		-
			message: "#^Property admin\\:\\:\\$container is unused\\.$#"
			count: 1
			path: app/Core/admin.php

		-
			message: "#^Variable \\$send in isset\\(\\) is never defined\\.$#"
			count: 2
			path: app/Core/admin.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 2
			path: app/Core/board.php

		-
			message: "#^Parameter \\#4 \\$month of function mktime expects int\\|null, string given\\.$#"
			count: 6
			path: app/Core/board.php

		-
			message: "#^Parameter \\#5 \\$day of function mktime expects int\\|null, string given\\.$#"
			count: 6
			path: app/Core/board.php

		-
			message: "#^Parameter \\#6 \\$year of function mktime expects int\\|null, string given\\.$#"
			count: 6
			path: app/Core/board.php

		-
			message: "#^Property board\\:\\:\\$container is unused\\.$#"
			count: 1
			path: app/Core/board.php

		-
			message: "#^Regex pattern is invalid\\: Unknown modifier '&' in pattern\\: /&lt;/ii&gt;$#"
			count: 1
			path: app/Core/board.php

		-
			message: "#^Regex pattern is invalid\\: Unknown modifier '&' in pattern\\: /&lt;/iu&gt;$#"
			count: 1
			path: app/Core/board.php

		-
			message: "#^Regex pattern is invalid\\: Unknown modifier '&' in pattern\\: /&lt;\\\\//ii&gt;$#"
			count: 1
			path: app/Core/board.php

		-
			message: "#^Regex pattern is invalid\\: Unknown modifier '&' in pattern\\: /&lt;\\\\//iu&gt;$#"
			count: 1
			path: app/Core/board.php

		-
			message: "#^Regex pattern is invalid\\: Unknown modifier '/' in pattern\\: /\\(http\\://\\[\\^ \\]\\+\\\\\\.\\[\\^ \\]\\+\\)/i$#"
			count: 1
			path: app/Core/board.php

		-
			message: "#^Regex pattern is invalid\\: Unknown modifier '\\]' in pattern\\: /\\[\\^/\\]\\(www\\\\\\.\\[\\^ \\]\\+\\\\\\.\\[\\^ \\]\\+\\)/i$#"
			count: 1
			path: app/Core/board.php

		-
			message: "#^Regex pattern is invalid\\: Unknown modifier 'b' in pattern\\: /&lt;/ib&gt;$#"
			count: 1
			path: app/Core/board.php

		-
			message: "#^Regex pattern is invalid\\: Unknown modifier 'b' in pattern\\: /&lt;\\\\//ib&gt;$#"
			count: 1
			path: app/Core/board.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: app/Core/opravy.php

		-
			message: "#^Property opravy\\:\\:\\$container is unused\\.$#"
			count: 1
			path: app/Core/opravy.php

		-
			message: "#^Right side of && is always false\\.$#"
			count: 2
			path: app/Core/opravy.php

		-
			message: "#^Function ereg not found\\.$#"
			count: 1
			path: app/Core/platby.php

		-
			message: "#^Function ereg_replace not found\\.$#"
			count: 1
			path: app/Core/platby.php

		-
			message: "#^Function split not found\\.$#"
			count: 2
			path: app/Core/platby.php

		-
			message: "#^Property platby\\:\\:\\$container is unused\\.$#"
			count: 1
			path: app/Core/platby.php

		-
			message: "#^Function ereg not found\\.$#"
			count: 1
			path: app/Core/rss.php

		-
			message: "#^Parameter \\#4 \\$month of function mktime expects int\\|null, string given\\.$#"
			count: 1
			path: app/Core/rss.php

		-
			message: "#^Parameter \\#5 \\$day of function mktime expects int\\|null, string given\\.$#"
			count: 1
			path: app/Core/rss.php

		-
			message: "#^Parameter \\#6 \\$year of function mktime expects int\\|null, string given\\.$#"
			count: 1
			path: app/Core/rss.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: app/Core/shared/adminatorGlobal.class.php

		-
			message: "#^Call to method connect\\(\\) on an unknown class RouterOS\\.$#"
			count: 1
			path: app/Core/shared/adminatorGlobal.class.php

		-
			message: "#^Function ereg not found\\.$#"
			count: 1
			path: app/Core/shared/adminatorGlobal.class.php

		-
			message: "#^Function mysql_num_rows not found\\.$#"
			count: 1
			path: app/Core/shared/adminatorGlobal.class.php

		-
			message: "#^Function mysql_query not found\\.$#"
			count: 6
			path: app/Core/shared/adminatorGlobal.class.php

		-
			message: "#^Function mysql_result not found\\.$#"
			count: 5
			path: app/Core/shared/adminatorGlobal.class.php

		-
			message: "#^Instantiated class RouterOS not found\\.$#"
			count: 1
			path: app/Core/shared/adminatorGlobal.class.php

		-
			message: "#^Offset 1 does not exist on array\\{false\\}\\.$#"
			count: 4
			path: app/Core/shared/adminatorGlobal.class.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(string e\\-mailová adresa\\)\\: Unexpected token \"e\\-mailová\", expected variable at offset 70$#"
			count: 1
			path: app/Core/shared/adminatorGlobal.class.php

		-
			message: "#^Parameter \\#1 \\$string of function urlencode expects string, int given\\.$#"
			count: 2
			path: app/Core/shared/adminatorGlobal.class.php

		-
			message: "#^Access to an undefined property partner_servis\\:\\:\\$mod\\.$#"
			count: 1
			path: app/Core/shared/partner.servis.class.php

		-
			message: "#^Access to an undefined property partner_servis\\:\\:\\$user\\.$#"
			count: 1
			path: app/Core/shared/partner.servis.class.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: app/Core/shared/partner.servis.class.php

		-
			message: "#^Variable \\$user in isset\\(\\) is never defined\\.$#"
			count: 1
			path: app/Core/shared/partner.servis.class.php

		-
			message: "#^Static call to instance method fakturacni\\:\\:vypis\\(\\)\\.$#"
			count: 1
			path: app/Core/shared/vlastnik.class.php

		-
			message: "#^Access to an undefined property App\\\\Core\\\\stb\\:\\:\\$level\\.$#"
			count: 1
			path: app/Core/shared/vlastnik2_a2.class.php

		-
			message: "#^Function mysql_query not found\\.$#"
			count: 1
			path: app/Core/shared/vlastnik2_a2.class.php

		-
			message: "#^Function mysql_result not found\\.$#"
			count: 1
			path: app/Core/shared/vlastnik2_a2.class.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getPersistenceRepository\\(\\)\\.$#"
			count: 1
			path: app/Middleware/RedirectIfNotAuthenticated.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: app/Middleware/RedirectIfNotAuthenticated.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:guest\\(\\)\\.$#"
			count: 1
			path: app/Middleware/RedirectIfNotAuthenticated.php

		-
			message: "#^Call to an undefined method Odan\\\\Session\\\\SessionInterface\\:\\:isStarted\\(\\)\\.$#"
			count: 1
			path: app/Middleware/SessionMiddleware.php

		-
			message: "#^Call to an undefined method Odan\\\\Session\\\\SessionInterface\\:\\:regenerateId\\(\\)\\.$#"
			count: 1
			path: app/Middleware/SessionMiddleware.php

		-
			message: "#^Call to an undefined method Odan\\\\Session\\\\SessionInterface\\:\\:start\\(\\)\\.$#"
			count: 1
			path: app/Middleware/SessionMiddleware.php

		-
			message: "#^Class aboutController not found\\.$#"
			count: 3
			path: app/routing.php

		-
			message: "#^Class adminController not found\\.$#"
			count: 7
			path: app/routing.php

		-
			message: "#^Class archivZmenController not found\\.$#"
			count: 4
			path: app/routing.php

		-
			message: "#^Class objektyController not found\\.$#"
			count: 5
			path: app/routing.php

		-
			message: "#^Class othersController not found\\.$#"
			count: 2
			path: app/routing.php


		-
			message: "#^Class topologyController not found\\.$#"
			count: 3
			path: app/routing.php

		-
			message: "#^Class vlastniciController not found\\.$#"
			count: 4
			path: app/routing.php

		-
			message: "#^Class workController not found\\.$#"
			count: 1
			path: app/routing.php


		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:guest\\(\\)\\.$#"
			count: 1
			path: include/main.function.shared.php

		-
			message: "#^Comparison operation \"\\>\" between int\\<2, max\\> and 1 is always true\\.$#"
			count: 1
			path: include/main.function.shared.php

		-
			message: "#^Parameter \\#1 \\$connection of function pg_last_error expects PgSql\\\\Connection\\|null, false given\\.$#"
			count: 1
			path: include/main.function.shared.php

		-
			message: "#^Call to an undefined static method Cartalyst\\\\Sentinel\\\\Native\\\\Facades\\\\Sentinel\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: others-web-simelon.php

