parameters:
	ignoreErrors:
		-
			message: "#^Binary operation \"\\+\" between string and '0' results in an error\\.$#"
			count: 3
			path: app/Core/Item/objekt.class.php
		-
			message: "#^Binary operation \"\\+\" between string and '1' results in an error\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Binary operation \"\\+\" between string and '128' results in an error\\.$#"
			count: 4
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Binary operation \"\\+\" between string and '2' results in an error\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Binary operation \"\\+\" between string and '3' results in an error\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Binary operation \"\\+\" between string and 2 results in an error\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Elseif condition is always true\\.$#"
			count: 1
			path: app/Core/Item/objekt.class.php

		-
			message: "#^If condition is always false\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^If condition is always true\\.$#"
			count: 4
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 4
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Regex pattern is invalid\\: Unknown modifier '\\)' in pattern\\: /\\^\\(\\[\\[\\:digit\\:\\]\\]\\|\\\\\\.\\|/\\)\\+\\$/$#"
			count: 1
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 4
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Variable \\$find_tarif in isset\\(\\) is never defined\\.$#"
			count: 1
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Variable \\$writed in isset\\(\\) is never defined\\.$#"
			count: 2
			path: app/Core/Item/objekt.class.php

		-
			message: "#^Binary operation \"\\+\" between string and 2 results in an error\\.$#"
			count: 1
			path: app/Core/Item/stb.class.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: app/Core/Item/stb.class.php

		-
			message: "#^Parameter \\#1 \\$string of function htmlspecialchars expects string, int given\\.$#"
			count: 1
			path: app/Core/Item/stb.class.php

		-
			message: "#^Parameter \\#1 \\$string of function urlencode expects string, int given\\.$#"
			count: 4
			path: app/Core/Item/stb.class.php

		-
			message: "#^Deprecated in PHP 8\\.0\\: Required parameter \\$conAfter follows optional parameter \\$conList\\.$#"
			count: 1
			path: app/Core/Item/listing.stb.class.php

		-
			message: "#^Deprecated in PHP 8\\.0\\: Required parameter \\$conBefore follows optional parameter \\$conList\\.$#"
			count: 1
			path: app/Core/Item/listing.stb.class.php