<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
        <testsuite name="adminator">
            <directory suffix="Test.php">./tests/adminator</directory>
        </testsuite>
        <testsuite name="sentinel">
            <directory suffix="Test.php">./tests/Sentinel</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./app/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="tap" target="./build/report.tap" showUncoveredFiles="true"/>
        <log type="junit" target="./build/report.junit.xml" showUncoveredFiles="true"/>
        <log type="coverage-html" target="./build/coverage" showUncoveredFiles="true"/>
        <log type="coverage-text" target="./build/coverage.txt" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="./build/logs/clover.xml" showUncoveredFiles="true"/>
    </logging>
</phpunit>