# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

#Doctrine 2
data/DoctrineORMModule/Proxy/
data/DoctrineORMModule/cache/

# Legacy ZF1
demos/
extras/documentation

# IDE
.DS_Store
/.idea/

# logs
adminator2/logs/
adminator3/logs/

# caches
adminator3/.php-cs-fixer.cache
adminator3/.php_cs.cache
adminator3/.phpunit.result.cache
/adminator3/templates_c/
adminator3/.phpunit.cache/
adminator3/cache/

# phpunit
adminator3/phpunit.xml.bak
adminator3/build/

# App
/adminator2/vypisy/
/adminator2/files2/dokumenty/
/adminator2/files2/mk-bc/
/adminator2/files2/ostatni/
/adminator2/files2/soubory/
/adminator2/export/

adminator3/export/
adminator3/tests2/
