body {
	font-size:100%;
	background:#dadada url("[themedir]images/mainbg.jpg") top left;
	font-family:"Trebuchet MS", Arial, Verdana;
	color:#555;
	margin:0;
	padding:0;
}

#header {
	height:114px;
	width:100%;
	background: #007FD3 url("[themedir]images/topbg.jpg") top left repeat-x;
	position:relative;
}

#header h1 {
	height:114px;
	width:526px;
	margin:0;
	padding:40px 0 0 0;
	font-size:28pt;
	color:#FC0;
	text-indent:20px;
	background: url("[themedir]images/banner.jpg") top left no-repeat;
	font-weight:normal;
}

#tagline {
	position:absolute;
	top:65px;
	left:25px;
	color:#fff;
	font-size:14px;
}


#sidemenu {
	float:left;
	width: 150px;
	margin:7px;
	border:1px solid #989898;
	background: url("[themedir]images/lightbg.jpg") top left;
}

#sidemenu ul {
	width:100%;
	padding:0;
	margin:0;
	list-style:none;
}

#sidemenu ul li {
	padding:0;
  margin:0;
}

#sidemenu ul li.selected {
	background-color:#4C4C4C;
	color:#fff;
}

#sidemenu ul li.selected a {
	color:#fff;
}

#sidemenu ul li a {
	display:block;
	color:#555;
	text-decoration:none;
	font-size:12px;
	padding: 2px 2px 2px 5px;
}

#sidemenu ul li a:hover {
	background-color:#FFC600;
}

#sidemenu ul li.header {
	background: url("[themedir]images/side_head_bg.jpg") top left repeat-x;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	height:24px;
	padding-left:8px;
}

#main, #login, #home {
	font-size:12px;
	padding:5px;
	position:relative;
}

#main {
	margin:7px 7px 7px 0px;
	border:1px solid #989898;
	background: url("[themedir]images/lightbg.jpg") top left;
	overflow:auto;
	overflow-x:hidden;
}

#main.wide {
	margin: 0;
}

#main ul {
	margin-left:16px;
	font-weight:normal;
	font-size:12px;
}

#main li.folder, #main li.file, #shares li.share ul.waiting {
	line-height:20px;
}

#main ul#shares {
	margin-left:0;
	font-weight:bold;
	display:none;
}

#main li {
	background-position:top left;
	background-repeat:no-repeat;
}

#main h2, #login h2, #home h2 {
	background: url("[themedir]images/side_head_bg.jpg") top left repeat-x;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	height:24px;
	margin:-5px;
	padding-left:8px;
	position:relative;
}

#shares li.share {
	position:relative;
	font-size:14px;
	font-weight:bold;
	text-indent:26px;
	line-height:28px;
	background-image:url("[themedir]images/icons/share.gif");
}

#shares li.open {
	background-image:url("[themedir]images/icons/share_open.gif");
}

#shares li.share ul.waiting li {
	font-size:12px;
	text-indent:20px;
	line-height:20px;
	background-image:url("[themedir]images/icons/animated_loading.gif");
}

#main ul {
	list-style:none;
	padding:0;
	magin:0;
}

#main li.folder {
	list-style:none;
	background-image:url("[themedir]images/icons/folder.gif");
	text-indent:20px;
	position:relative;
}

#shares ul li.open {
	background-image:url("[themedir]images/icons/folder_open.gif");
}

#main li.file {
	list-style:none;
	background-image:url("[themedir]images/icons/document.gif");
	text-indent:20px;
	position:relative;
	border-bottom:1px solid #ccc;
}

#main li.file span.size {
	position:absolute;
	top:0;
	right:24px;
}
#main li.file span.delete {
	position:absolute;
	top:1px;
	right:3px;
	background: url("[themedir]images/icons/delete.gif") top left no-repeat;
	height:16px;
	width:17px;
	padding:0;
	margin:0;
}

#main li.share span.upload {
	position:absolute;
	top:1px;
	right:3px;
	background: url("[themedir]images/icons/share_up.gif") top left no-repeat;
	height:22px;
	width:22px;
	padding:0;
	margin:0;
}

#main li.share span.upload a {
	display:block;
	height:22px;
	margin:0;
	padding:0;
	line-height:22px;
	text-indent:999em;
}

#main li.folder span.upload {
	position:absolute;
	top:1px;
	right:3px;
	background: url("[themedir]images/icons/up.gif") top left no-repeat;
	height:16px;
	width:17px;
	padding:0;
	margin:0;
}

#main li.file span.delete a, #main li.folder span.upload a  {
	display:block;
	height:16px;
	margin:0;
	padding:0;
	line-height:16px;
	text-indent:999em;
}

#main li.file span.waiting a {
	background: #fff url("[themedir]images/icons/animated_loading.gif") top left no-repeat;
	border:1px solid #ddd;
}

table {
	margin:10px auto 10px auto;
}

#login {
	margin: 15px auto 15px auto;
	width:400px;
	border:1px solid #989898;
	background: url("[themedir]images/lightbg.jpg") top left;
}

#login p.error, #main p.error {
	color:#f00;
	text-align:center;
	font-weight:bold;
}

ul.errors li {
	color:#f00;
	font-weight:bold;
}

ul.good li {
	color:#6C3;
	font-weight:bold;
}

#footer {
	clear:both;
	visibility:hidden;
	background: #5F5F5F url("[themedir]images/footerbg.jpg") bottom left repeat-x;
	height:38px;
	width:100%;
	font-size:12px;
	color:#ccc;
	padding:0;
	margin:0;
	position:relative;
}

#footnote {
	position:absolute;
	left:20px;
	bottom:7px;
	padding:0;
	margin:0;
}

#footnote_right {
	position:absolute;
	right:20px;
	bottom:7px;
	padding:0;
	margin:0;
}

#footer a {
	color:#fff;
}	

.button, .tick, .cross{
	border:1px solid #336699;
	background-color:#CCC;
	color:#fff;
	width:auto;
	cursor:pointer;
}

.tick, .cross {
	padding-left:22px;
}

.tick {
	background: #0091DE url("[themedir]images/button_tick.jpg") top left repeat-x;
}
.cross {
	background: #0091DE url("[themedir]images/button_cross.jpg") top left repeat-x;
}

a {
	text-decoration:none;
	cursor:pointer;
}

a:link, a:visited {
	color:#00f;
}

/* --------- FILE TYPES ------------ */

#main ul li.jpg, #main ul li.gif, #main ul li.jpeg, #main ul li.png {
	background-image:url("[themedir]images/filetypes/jpg.gif");
}

#main ul li.avi, #main ul li.mpg, #main ul li.mpeg, #main ul li.asf {
 	background-image:url("[themedir]images/filetypes/avi.gif");
}

#main ul li.doc, #main ul li.docx {
	background-image:url("[themedir]images/filetypes/doc.gif");
}

#main ul li.exe {
	background-image:url("[themedir]images/filetypes/exe.gif");
}

#main ul li.mov {
	background-image:url("[themedir]images/filetypes/mov.gif");
}

#main ul li.mp3, #main ul li.wav {
	background-image:url("[themedir]images/filetypes/mp3.gif");
}

#main ul li.pdf {
	background-image:url("[themedir]images/filetypes/pdf.gif");
}

#main ul li.ttf, #main ul li.fon {
	background-image:url("[themedir]images/filetypes/ttf.gif");
}

#main ul li.ppt, #main ul li.pps {
	background-image:url("[themedir]images/filetypes/ppt.gif");
}

#main ul li.pub {
	background-image:url("[themedir]images/filetypes/pub.gif");
}

#main ul li.txt, #main ul li.htaccess, #main ul li.ini {
	background-image:url("[themedir]images/filetypes/txt.gif");
}

#main ul li.xls {
	background-image:url("[themedir]images/filetypes/xls.gif");
}

#main ul li.zip, #main ul li.rar {
	background-image:url("[themedir]images/filetypes/zip.gif");
}

#main ul li.mmap {
	background-image:url("[themedir]images/filetypes/mmap.gif");
}
#main ul li.bmp {
	background-image:url("[themedir]images/filetypes/bmp.gif");
}

#main ul li.psd, #main ul li.atn, #main ul li.abr, #main ul li.csh {
	background-image:url("[themedir]images/filetypes/psd.gif");
}

/* for empty folders */
#main ul li.empty {
	background-image:url("[themedir]images/icons/error.gif");
}