body
{
    font-family:arial ce;
    font-size:12;
    border-color:#000066;
}

.login img
{
    margin-bottom: 10px; 
    margin-top: 10px;
}

.login-message
{
    margin-top: 50px;
    margin-bottom: 20px; 
    font-size: 14;
    font-weight:bolder;
    color: black;
    display: block;
}
