{% extends 'templates/app.twig' %}

{% block content %}

    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <div class="card fw-medium pt-2">
                Failed CSRF check!
            </div>
        </div>
        <div class="col"></div>
    </div>

{% endblock %}
